* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('jessica-ruscello-OQSCtabGkSY-unsplash.jpg');
    background-size: contain;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    row-gap: 80px;
    margin: 50px 0;   
}

.book-card {
    width: 320px;
    height: 210px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.book-card p {
    padding: 0.7rem 1rem;
}

.book-card>p:first-child {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.book-card>p:nth-child(2) {
    font-style: italic;
    text-align: center;
}

.book-card>p:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

.book-card p div:last-child {
    display: flex;
}

.book-card p div input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 2rem;
}

.book-card .del-book {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(198, 74, 74);
    color: #FFFFFF;
}

.book-card .del-book {
    cursor: pointer;
}

.new-book-button {
    display: block;
    width: 15rem;
    font-size: 1rem;
    letter-spacing: 0.5ch;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 20px;
    background-color: rgb(178, 213, 237);
    color: #FFFFFF;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.new-book-button:hover {
    cursor: pointer;
}

.new-book-form {
    width: 500px;
    height: 320px;
    padding: 20px;
    margin: 1rem auto;
    background-color: rgb(218, 212, 206);
    border: 1px solid rgb(220, 219, 214);
    border-radius: 20px;
}

.new-book-form h3 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.1ch;
    text-decoration: underline;
}

.new-book-form p {
    margin-bottom: 20px;
}

.new-book-form label {
    display: inline-block;
    margin-right: 20px;
    width: 120px;
    text-align: right;
}

.new-book-form input[type='text'] {
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    font-size: 14px;
    border-radius: 3px;
    padding: 7px;
}

.new-book-form input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.form-buttons {
    width: 300px;
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
}

.new-book-form button {
    width: 130px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(139, 172, 201);
    font-weight: bold;
    letter-spacing: 0.2ch;
}

.new-book-form button:hover {
    cursor: pointer;
}

dialog {
    border: none;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: transparent;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.40);
}