* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-card {
    width: 350px;
    height: 200px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.book-card p {
    padding: 1rem 0.5rem;
}